html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100vw;
}
  @media screen and (max-width: 850px) {
    html {
      font-size: 9.5px; } 
    }
  @media screen and (min-width: 851px) and (max-width: 1366px) {
    html {
      font-size: 10px; } 
    }
  @media screen and (min-width: 1367px) {
    html {
      font-size: 11px; } 
    }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: relative; 
  /* overflow: hidden; */
  /* background-color: #cccccc; */
  background-image: url("./Images/trianglify.svg");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

/*------------ NAV ------------*/
.nav_logo {
  position: fixed;
  z-index: 5;
}
@media screen and (max-width: 992px) and (max-width: 768px) and (max-width: 576px) and (max-width: 420px){
  .nav_logo {
    width: 2.5%; 
  } 
} 

/*------------ CONTAINER ------------*/
.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: inherit;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity; 
  color: #0a0909;
}

.section_container {
  /* background-color: #EB6864; */
  /* margin-bottom: 5rem; */
  width: 40% !important;
  min-height: 50vh !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.welcome {
  margin-bottom: 40px;
  margin-top: 40px;
}

/*------------ BUTTONS ------------*/
.btn {
  margin-top: 25px;
}

.abt {
  padding: 15px 80px 15px 80px !important;
}

.hrs {
  padding: 15px 62px 15px 62px !important;
}

.crrnt {
  padding: 15px 44px !important;
}

/*------------ ABOUT ------------*/
.welcome_about {
  margin-top: 60px;
}

.hierarchy {
  width: 50%;
}

.maslow {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
}

.section_description {
  font-size: 1.2rem;
  /* margin-bottom: 5rem; */
  width: 85%;
  text-align: center; 
  color: #dddbdb;
}
@media screen and (max-width: 800px) {
  .section_description {
    width: 90%;
    font-size: 1rem;
    padding: 1rem; 
  } 
}
@media screen and (min-width: 801px) and (max-width: 1366px) {
  .section_description {
    font-size: 1.2rem; 
  } 
}

/*------------ ADD TIME ------------*/
.category_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-flow: column wrap; */
  align-content: stretch;
}

.textarea {
  margin-bottom: 10px;
}

.input_field {
  width: 56.5% !important;
  margin-bottom: 10px;
  right: 1rem;
}

.free_time {
  background-color: orange;
}

.self_actualization {
  background-color: blue;
  color: #dddbdb;
}

.esteem {
  background-color: green;
  color: #dddbdb;
}

.love {
  background-color: yellow;
}
.free_time, .self_actualization, .esteem, .love {
  margin-bottom: 10px;
}

.list-overflow-container {
  margin-top: 10px;
  overflow-y: hidden;
  border: none;
}

.next_page {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/*------------ CALENDAR ------------*/
.calendar_container {
  width: 65% !important;
  min-height: 50vh !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-wrap: wrap;
}

.card {
  margin-left: 2px;
  margin-bottom: 2px;
}

.card.free_hours {
  padding: 0 3.5px 0 3.5px;
}

.hours_calendar {
  color: #655792;
}

